body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

#credits{
    text-decoration: none;
    color: white;
    border-color: #190A05;
    font-size: 1.1vw;
    padding: 2px 6px 2px 6px;
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    border-radius: 20px;
    background: #870000; 
    background: -webkit-linear-gradient(to right, #190A05, #870000);  
    background: linear-gradient(to right, #190A05, #870000); 
    text-shadow: 2px 2px 1px black;
    margin-top: 20px;
    max-width: 150px;
    align-self: center;
   
}

#credits:hover{
    font-size: 1.2vw;
}

h1{
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 10px black;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #41295a; 
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  
    background: linear-gradient(to right, #2F0743, #41295a); 
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60vw;
    padding: 50px;
    border-radius: 10px;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1vw 1vw 1vw;
    font-size: 2vw;
    color: white;
    text-shadow: 2px 1px 4px black;
    font-family: 'Righteous', cursive;
}

#start{
    background-color: rgb(6, 240, 6);
    cursor: pointer;
}
#start:hover{
    background-color: rgb(10, 133, 10);
}
#pause{
    background-color: rgb(248, 248, 7);
    cursor: pointer;
}
#pause:hover{
    background-color: rgb(151, 151, 5);
}
#stop{
    background-color: rgb(252, 34, 34);
    cursor: pointer;
}
#stop:hover{
    background-color: rgb(145, 8, 8);
}

@media screen and (max-width: 700px) {
    #container{
        /* flex-wrap: nowrap; */
        width: 40vw;
    }
    
    .button{
        padding: 2vw 2vw 2vw;
        font-size: 4vw;
    }
    
    h1{
        font-size: 7vw;
    }

    #credits{
        text-decoration: none;
        color: white;
        border-color: #190A05;
        font-size: 2vw;
        padding: 2px 6px 2px 6px;
        font-family: 'Open Sans', sans-serif;
        border-style: solid;
        border-radius: 20px;
        background: #870000; 
        background: -webkit-linear-gradient(to right, #190A05, #870000);  
        background: linear-gradient(to right, #190A05, #870000); 
        text-shadow: 2px 2px 1px black;
        margin-top: 20px;
        max-width: 150px;
        align-self: center;
    }
    
    #credits:hover{
        font-size: 2.2vw;
    }
    
}
